{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "**/*.spec.ts",
    "**/*.test.ts",
    "tests/**",
    "node_modules/**"
  ],
  "reporter": [
    "text",
    "lcov",
    "html"
  ],
  "report-dir": "coverage",
  "temp-dir": ".nyc_output"
}
